
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Martel Sans", serif;
}
body{
    background-color: black;
}
.main{
    height: 70vh;
    background-image: url("assets/images/bg.jpg");
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
   
    
}
.main .box
{
    background-color: black;
    opacity: 0.69;
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    padding: auto;
    margin: auto;
    height: 62px;
    
}
nav img{
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero
{
    font-family: "Martel Sans", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    z-index: 10;
    color:rgb(255, 255, 255);
    height: calc(100% - 62px);
    gap: 0 23px;
    padding: 0 23px;
}
.unlimited{
    display: flex;
    flex-direction: column;
    font-size: 56px;
    font-weight: 900;
    text-align: center;
    position: relative;
    z-index: 10;
}
.unlimited span{

    position: relative;
    margin-top: -14px;
    text-align: center;
}
.usd
{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.separation
{
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 10;
    margin-top:0;  
}
.btn
{
    padding:  3px 8px;
    font-size: 18px;
    background-color: rgba(248,243,243,0.021);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
}
.btn-red
{
    font-weight: 400;
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    border:1px solid rgba(23,2,23,0.7)
    
}
.main input
{
    background-color: rgba(23,2,23,0.7);
    padding:   7px 108px 4px 14px;
    font-size: 20px;
    border-radius: 4px;
    color: white;
    

}
.hero-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.first
{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-items:center;
    align-items: center;

}
.Secimg img{
    width: 30vw;
    z-index: 10;
    position: relative;
}
.Secimg{
position: relative;
}
.Secimg video{
    position: absolute;
    right: 60px;
    width: 304px;
    top: 66px;
   
}
.first > div :first-child{
    font-size: 48px;
    font-weight: bolder;
}
.first > div :nth-child(2)
{
    font-size: 24px;
    font-weight: bold;
}
section.first div{
    display: flex;
    flex-direction: column;
}
.frequency
{
    color: white;
}
.freqbox
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   
.frequency h2
{
   text-align: center;
}
.freqbox span
{
    height: 5vh;
    width: 40vw;
    background-color: rgb(56, 51, 51);
    padding: 24px;
    margin: 5px auto;
    position: relative;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
